<my-card>
  <h1 header>Welcome</h1>
  <div body>
    <p>Counter: {{ counter }}</p>
  </div>
  <div footer>
    <button mat-raised-button color="primary" (click)="increment()">Increment</button>
    <button mat-raised-button color="warn" (click)="decrement()">Decrement</button>
  </div>
</my-card>
<my-card>
  <h1 header>My Pokemon</h1>
  <div body>
    @if (pokemonList$ | async; as pokemonList) {
      <pre>Pokemon: {{ pokemonList | json }}</pre>
    }
  </div>
</my-card>
<my-card>
  <h1 header>My Timer</h1>
  <div body>
    <pre>Timer: {{ timer() }}</pre>
  </div>
</my-card>
